In [2]:
import pandas as pd
import numpy as np

In [4]:
train_dataf = pd.read_csv("../../data/sample_data/train_first.csv", index_col=0)

train_dataf

,First,Longitude,Latitude,Longitude_difference,Latitude_difference,distance(km),Latitdue_zlevel,Longitdue_zlevel,class
5,2023-06-11 10:39,128.213,23.906,1.099,-1.773,413.308996,0.453068,1.204869,1
12,2023-06-14 20:18,125.896,25.704,-1.276,-1.962,17.754680,0.596375,0.738042,1
13,2023-06-15 10:54,127.172,27.666,-0.652,1.022,252.317424,0.752753,0.995129,1
14,2023-06-15 20:08,127.824,26.644,1.223,1.967,130.672822,0.671296,1.126493,1
16,2023-06-16 20:18,127.503,23.166,0.598,1.034,191.400324,0.394088,1.061819,1
...,...,...,...,...,...,...,...,...,...
565,2024-05-04 10:03,116.608,-27.415,-2.490,7.421,3560.288905,-3.637387,-1.133295,0
567,2024-05-05 9:43,128.964,-1.732,3.135,-10.112,3820.207342,-1.590366,1.356180,0
577,2024-05-10 10:24,121.274,6.223,-8.872,27.534,1227.614646,-0.956326,-0.193194,0
594,2024-05-18 20:23,127.425,22.678,0.493,1.122,286.513064,0.355192,1.046103,1
595,2024-05-19 10:29,126.932,21.556,1.492,-2.866,134.700630,0.265765,0.946774,1

In [5]:
input = train_dataf[['Longitude_difference', 'Latitude_difference', 'distance(km)']].to_numpy()
target = train_dataf['class'].to_numpy()

In [6]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(input, target, test_size=0.15)